site_name: DEVELOPERS HUB
theme:
  name: material
  font:
    text: Roboto
  logo: assets/normal-reproduction-low-resolution.jpg
  favicon: assets/normal-reproduction-low-resolution.jpg
  palette:
    - primary: primary
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - search.highlight
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.prune
    - navigation.top
    - navigation.footer

markdown_extensions:
  - footnotes
  - tables
  - abbr
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.arithmatex
  - pymdownx.b64
  - pymdownx.betterem
  - pymdownx.blocks.admonition
  - pymdownx.blocks.definition
  - pymdownx.blocks.details
  - pymdownx.blocks.html
  - pymdownx.blocks.tab
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall
  - pymdownx.extra
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.pathconverter
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.striphtml
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  generator: false
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

extra_css:
    -css/extra.css
    
plugins:
  - search
  - multirepo:
      cleanup: true
      keep_docs_dir: false
      nav_repos:
        - name: eudi-doc-architecture-and-reference-framework
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-web-booking-service-demo
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-web-booking-service-demo?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-lib-android-wallet-core
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-lib-android-wallet-core?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-app-android-wallet-ui
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-app-android-wallet-ui?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-lib-ios-wallet-kit
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-lib-ios-wallet-kit?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-app-ios-wallet-ui
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-app-ios-wallet-ui?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-srv-web-issuing-eudiw-py
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-web-verifier
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-web-verifier?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'

nav:
  - Getting started:
      - Introduction: getting-started.md
      - Build a Wallet: build-a-wallet.md
      - Build an Issuer: build-an-issuer.md
      - Build a Verifier: build-a-verifier.md
  - Specifications:
      - Introduction: intro-specs.md
      - Architecture Reference Framework: arf-intro.md
      - Reference Implementation: 
          - Introduction: roadmap-of-development-of-ri.md
          - Contributions: CONTRIBUTIONS.md
          - Code of Conduct: code-of-conduct.md
          - Licensing: 
              - Libraries and tools: license.md
              - UI applications: license-ui.md
      - Use cases:
          - Introduction: use-cases.md
  - How TOs:
      - Introduction: intro-howtos.md
      - How to for Wallet Provider:
          - How to for Wallet Provider: how-to-wallet.md
          - Android:
              - Android wallet ui: eudi-app-android-wallet-ui/wiki/how_to_build.md
              - Android core: eudi-lib-android-wallet-core/README.md
          - iOS:
              - iOS wallet ui: eudi-app-ios-wallet-ui/wiki/how_to_build.md
              - iOS core: eudi-lib-ios-wallet-kit/README.md
      - How to for Issuer: 
          - General: eudi-srv-web-issuing-eudiw-py/README.md 
          - New Attestations: eudi-srv-web-issuing-eudiw-py/api_docs/add_credential.md
          - FAQ: temp/coming_soon_3.md
      - How to for Verifier: eudi-web-verifier/README.md
  - Test Suite: 
      - Introduction: test-suite.md
      - Issuer: tools-issuer.md
      - Online Verifier: tools-verifier.md
      - Verifier Application: eudi-app-android-wallet-ui/wiki/verifier_proximity.md
      - Wallet:
          - Wallet: test-suite-wallet.md
          - Android: eudi-app-android-wallet-ui/how-to-use-app.md
          - iOS: eudi-app-ios-wallet-ui/how-to-use-app.md
  - About:
      - Introduction: intro-about.md
